


@font-face {
  font-family: 'wremena-regular';
  src: url('/fonts/wremena.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wremena-bold';
  src: url('/fonts/wremena.bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wremena-light';
  src: url('/fonts/wremena.light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color:  #F9F6F0;
  font-family: 'wremena-regular';
  color: #3c2a4d;;
}

