---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="wrapper">
    <NavBar />
    <div class="head-title">
      <h1>Book Case</h1>
    </div>
    <div class="working">
      <img src="/images/working.svg"/ >
    </div>
  </div>
</Layout>

<style>
  body {
    background-image: url("/images/grids.svg");
  }
  .wrapper {
    overflow: auto;
    padding: 2rem;
    display: block;
  }
  .head-title {
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 47px;
    display: flex;
    align-items: end;
  }

  h1 {
    font-family: "itc-benguiat", serif;
    font-weight: 400;
    font-size: 2.6rem;
  }

  .working{
    text-align: center;
  }
</style>
