---
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Bulletin from "../components/Bulletin.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="page">
    <Header />
    <section class="main-section">
      <Intro />
      <Bulletin />
    </section>
  </div>
</Layout>

<style>
  .page {
    background: #f9f6f0;
    color: #3c2a4d;
    max-width: 952px;
    width: 100%;
    margin: 50px auto;
    padding: 8vh 5vh;
  }

  .main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    align-items: start;
  }
</style>
