---
import NotePopup from "../components/NotePopup.astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";

// Type hint for noteModule loaded from markdown
type MarkdownNote = {
  frontmatter: Record<string, any>;
  compiledContent: () => string;
};

const notes = await Promise.all(
  Object.entries(import.meta.glob("../content/thoughts/*.md")).map(
    async ([, loader]) => {
      const noteModule = (await loader()) as MarkdownNote; // type assertion here
      return {
        ...noteModule.frontmatter,
        content: noteModule.compiledContent(),
      };
    }
  )
);
---

<Layout>
  <div class="inside-wrapper">
    <NavBar />
    <div class="about-header">
      <h1>The Insides</h1>
    </div>
    <div class="note-grid">
      {notes.map((note) => <NotePopup note={note} client:load />)}
    </div>
  </div>

  <style>
    .inside-wrapper {
      overflow: auto;
      color: #3c2a4d;
      padding: 2rem;
      margin: 0 150px;
      display: block;
    }
    .about-header {
      margin-top: 50px;
      display: flex;
      gap: 1rem;
    }

    .about-logo {
      width: 100px;
      height: 100px;
    }

    h1 {
      font-size: 2.6rem;
      color: #3c2a4d;
      font-family: "itc-benguiat", serif;
      font-weight: 400;
    }


    .note-grid {
      column-count: 3;
      column-gap: 28px;
      max-width: 1080px;
      margin: 0 auto;
      padding: 36px 28px 60px 28px;
    }

    @media (max-width: 900px) {
      .note-grid {
        column-count: 2;
      }
    }

    @media (max-width: 600px) {
      .note-grid {
        column-count: 1;
      }
    }
  </style>
</Layout>
