---
import PhotoCard from "../components/PhotoCard.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";

type Photo = {
  title: string;
  image: string;
};

const files = import.meta.glob("../content/memories/memories.md", {
  eager: true,
});

const memoriesData = Object.values(files)[0] as any;
const { memories } = memoriesData.frontmatter;
---

<Layout>
  <div class="wrapper">
    <NavBar />
    <div class="head-title">
      <h1>Memories</h1>
    </div>

    <div class="scroll-container">
      <div class="memory-grid">
        {memories.map((photo: Photo) => <PhotoCard {...photo} />)}
      </div>
    </div>
  </div>
</Layout>

<style>
  .wrapper {
    overflow: auto;
    padding: 2rem;
    display: block;
    background-image: url("/images/grids.svg");
  }

  .head-title {
    margin-top: 107px;
    margin-left: 47px;
    display: flex;
    align-items: end;
  }

  h1 {
    font-size: 2.6rem;
    color: #3c2a4d;
    font-family: "itc-benguiat", serif;
    font-weight: 400;
    margin: 0;
    align-items: end;
  }


  .memory-grid {
    column-count: 5;
    column-gap: 32px;
    max-width: 1400px;
    margin: auto;
    padding: 16px;
  }


  .memory-grid > * {
    break-inside: avoid-column;
    margin-bottom: 32px;
  }

  @media (max-width: 1000px) {
    .memory-grid {
      column-count: 4;
    }
  }
  @media (max-width: 600px) {
    .memory-grid {
      column-count: 2;
    }
  }
</style>
