<aside class="bulletin">
  <h3>Bulletin</h3>
  <p>August 2025</p>
</aside>

<style>
  .bulletin {
    background: #e5d6f9;
    padding: 1rem;
    border-radius: 1rem;
    color: #3b214d;
    width: 280px;
    height: 318px;
    margin-left: auto;
    font-family: "itc-benguiat", serif;
  }

  .bulletin h3 {
    margin: 0;
  }

  .bulletin p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
  }

  h3{
    font-weight: 400;
    font-size: 36px ;
  }

  p{
    font-style: italic;
  }
</style>
