<section class="header"></section>

<style>
  .header {
    background: url("/images/header.svg") no-repeat center;
    width: 100%;
    height: auto;
    aspect-ratio: 3.5 / 1;
    background-size: cover;
    padding: 4rem 1rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
</style>
