<section class="intro">
  <div class="initial">
    <img src="/images/inital.svg">
  </div>
  <div class="content">
    <h2 class="title">Diksha Jain</h2>
    <p>
      I would like to call myself a <strong>Design Thinker</strong>, weaving
      research, intuition, and imagination into thoughtful projects. Fragments
      of my <strong>memories</strong> shape much of what I create. My <strong
        >visual artwork</strong
      > echoes admiration.<br />
      I also gather quiet reflections and questions in my <strong
        >thoughts</strong
      >, and keep a growing list of <strong>books</strong> that feed my inner world.
    </p>
  </div>
</section>

<style>
  h2 {
    font-family: "itc-benguiat", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    margin: 0px;
    margin-top: 15px;
  }

  .intro {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 1.5rem;
  }

  img{
    width: 93px;
    height: 93px;
  }


  .content p {
    margin-top: 0.5rem;
    line-height: 1.6;
    font-size: 22px ;
    color: #333;
  }

  strong {
    color: #3b214d;
  }
</style>
