<section class="intro">
  <div class="initial">
    <a href="/"> <img src="/images/inital.svg" /></a>
  </div>
  <div class="content">
    <h2 class="title">
      <a href="/about">Diksha Jain</a>
    </h2>
    <p>
      I would like to call myself a <strong><a href="/design" class="links">Design Thinker</a></strong>, weaving
      research, intuition, and imagination into thoughtful projects. Fragments
      of my <strong><a href="/memories" class="links">memories</a></strong> shape
      much of what I create. My <strong><a href="/artwork" class="links">visual artwork</a></strong> echoes admiration.<br
      />
      I also gather quiet reflections and questions in my <strong
        ><a href="/inside" class="links">thoughts</a></strong
      >, and keep a growing list of <strong><a href="/book" class="links">books</a></strong> that feed my inner world.
    </p>
  </div>
</section>

<style>
  a {
    text-decoration: none;
    color: #3b214d;
  }

  .links {
    text-decoration: none;
    color: #3b214d;
    border-bottom: 3px dotted;
  }

  .links:hover {
    color: #dccef9;
    border-bottom: 3px solid;
  }

  h2 {
    font-family: "itc-benguiat", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    margin: 0px;
    margin-top: 15px;
  }

  .intro {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 1.5rem;
  }

  img {
    width: 93px;
    height: 93px;
  }

  .content p {
    margin-top: 0.5rem;
    line-height: 1.6;
    font-size: 22px;
    color: #333;
  }

  strong {
    color: #3b214d;
  }
</style>
