---

---

<nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/inside">Inside</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/memories">Memories</a></li>
  </ul>
</nav>

<style>
  .navbar {
    font-family: "ivymode", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 80px;
    padding: 2rem 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #F9F6F0 ;}


  .navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    margin-left: 170px;

    padding: 0;
  }

  .navbar a {
    text-decoration: none;
    color: #3b214d;
    font-weight: 500;
  }

  .navbar a:hover {
    text-decoration: underline;
  }
</style>
